<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script
  defer
  src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.id }}"
></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }

    gtag("js", new Date());
    gtag("config", "{{ site.analytics.google.id }}");
  });
</script> -->

<!-- Google tag (gtag.js) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-KLTPFDWN71"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-KLTPFDWN71");
</script>
